<?xml version="1.0" ?>
<SpringFake>
    <AimDirection>double:0</AimDirection>
    <DebugShotTimeLength>double:2</DebugShotTimeLength>
    <FirstSpeed>double:25</FirstSpeed>
    <GroundOffset>double:0</GroundOffset>
    <IsBreak>bool:false</IsBreak>
    <IsCastShadow>bool:false</IsCastShadow>
    <IsChangeCameraWhenPathChange>bool:false</IsChangeCameraWhenPathChange>
    <IsHomingAttackEnable>bool:false</IsHomingAttackEnable>
    <IsPathChange>bool:false</IsPathChange>
    <IsSideSet>bool:false</IsSideSet>
    <IsStartVelocityConstant>bool:true</IsStartVelocityConstant>
    <IsWallWalk>bool:false</IsWallWalk>
    <IsYawUpdate>bool:false</IsYawUpdate>
    <KeepVelocityDistance>double:5</KeepVelocityDistance>
    <MotionType>double:0</MotionType>
    <OutOfControl>double:1.1</OutOfControl>
    <Position>
        <x>double:951.253</x>
        <y>double:-103</y>
        <z>double:11.9038</z>
    </Position>
    <Range>double:30</Range>
    <Rotation>
        <w>double:0.508725</w>
        <x>double:0.491273</x>
        <y>double:-0.499923</y>
        <z>double:0.499923</z>
    </Rotation>
    <SetObjectID>integer</SetObjectID>
    <m_IsConstantFrame>bool:false</m_IsConstantFrame>
    <m_IsConstantPosition>bool:true</m_IsConstantPosition>
    <m_IsMonkeyHunting>bool:false</m_IsMonkeyHunting>
    <m_IsStopBoost>bool:false</m_IsStopBoost>
    <m_IsTo3D>bool:false</m_IsTo3D>
    <m_MonkeyTarget>
        <x>double:0</x>
        <y>double:0</y>
        <z>double:0</z>
    </m_MonkeyTarget>
    <Mesh>unknown.mesh</Mesh>
</SpringFake>
